{% extends "base.html" %}

{% block contenido %}
<h2>Formulario de Registro</h2>
<form action="{{ url_for('guardar_datos') }}" method="post" class="mt-4">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" required>
  </div>
  <div class="mb-3">
    <label for="edad" class="form-label">Edad</label>
    <input type="number" class="form-control" id="edad" name="edad" required min="0">
  </div>
  <div class="mb-3">
    <label for="edad" class="form-label">Correo</label>
    <input type="text" class="form-control" id="Correo" name="Correo" required min="0">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
{% endblock %}
